/Manifest.toml
.DS_Store
.vscode/simulations/logs/sim_34488974_1.err
simulations/logs/*
psychometrika/*

**/log/**
**/logs/**

*.js
*.css
*.woff
*.csv
*.jld2
*.png
**/*.png
*.html
**/*.html
**/archive/**
ABCD-adhd/*
**/old/**
